<header class="main-header">
    <div class="search-bar">
        <form class="search-bar-wrapper">
            <input type="text" name="" id="" placeholder="Search...">
            <button class="fas fa-search"></button>
        </form>
    </div>
    <div class="shopping-cart-wrapper">
        <div class="shopping-cart">
            <button class="fas fa-shopping-cart"></button>
        </div>
    </div>
</header>