@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="gap-2 bottom-list">
    @if (SignInManager.IsSignedIn(User))
    {
        var name = Context.Session.GetString("UserFullName");
        if (string.IsNullOrWhiteSpace(name))
        {
            name = "user";
        }

        <li>
            <span class="foldable">Hello @name!</span>
        </li>
        <li>
            <a asp-area="Identity" asp-controller="Account" asp-action="LogOut">
                <i class="fas fa-sign-out-alt"></i>
                <span class="foldable">Log Out</span>
            </a>
        </li>
    }
    else
    {
        @await Html.PartialAsync("Components/_SideMenuItemPartial",
            new List<SideMenuModel>()
            {
                new ("Register", "Identity", "Account", "Register", "fas fa-file-signature"),
                new ("Log In", "Identity", "Account", "Login", "fas fa-sign-in-alt")
            })
    }
</ul>
