@inject MyOrderService MyOrderService;

<aside class="aside-wrapper">
    <input type="checkbox" class="aside-toggle" id="aside-toggle">
    <label class="aside-toggle-btn" for="aside-toggle">
        <img src="/images/book.png" class="logo-icon" alt="logo" />
    </label>
    <div class="side-menu">
        <div class="site-name">
            <a class="title logo" asp-area="" asp-controller="Home" asp-action="Index">Book Shop</a>
        </div>
        <ul class="gap-2">
            @{
                var notifications = 0;

                if (User.Identity!.IsAuthenticated)
                {
                    notifications = await MyOrderService.GetActiveOrderCount(User);
                }

                @await Html.PartialAsync("Components/_SideMenuItemPartial", new List<SideMenuModel>
                {
                    new("Home", "", "Home", "Index", "fas fa-home"),
                    new("Catalogue", "", "Home", "All", "fas fa-search"),
                    new("My Orders", "", "MyOrders", "Index", "fas fa-truck", true, notifications),
                    new(new[]{ "Admin" }, "Administration", "Administration", "Manage", "Books", "fas fa-user-cog")
                })
            }
        </ul>
        @await Html.PartialAsync("_LoginPartial")
    </div>
</aside>