<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShop</title>
    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../wwwroot/css/site.css" asp-append-version="true" />
</head>

<body>
    <aside class="aside-wrapper">
        <input type="checkbox" class="aside-toggle" id="aside-toggle">
        <label class="aside-toggle-btn" for="aside-toggle">
            <img src="./../../wwwroot/images/book.png" class="logo-icon"></img>
        </label>
        <div class="side-menu">
            <div class="site-name">
                <a class="title logo" asp-area="" asp-controller="Home" asp-action="Index">Book Shop</a>
            </div>
            <ul class="gap-2">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>

                <li class="selected">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                    <span class="notification">99+</span>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
            </ul>
            <ul class="gap-2 bottom-list">
                <li>
                    <a asp-area="Identity" asp-controller="Account" asp-action="Register">
                        <i class="fas fa-file-signature"></i>
                        <span class="foldable">Register</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-controller="Account" asp-action="Login">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="foldable">Log In</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <section class="main-content">
        <header id="top" class="main-header">
            <div class="search-bar">
                <form class="search-bar-wrapper" data-api-callback="not null" data-result-callback="not null">
                    <input type="search" name="" id="" placeholder="Search...">
                    <button class="fas fa-search"></button>
                    <!--
                        <div class="api-search-result" style="display: none;">
                        <ul>
                            <li>
                                <a href="">
                                    <div class="img-wrapper"><img src="https://images-us.bookshop.org/ingram/9781501181009.jpg?height=500&amp;v=v2-a1d7cc03af48883b3234be483797e131" alt=""></div>
                                    <span>Title</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="img-wrapper"><img src="https://images-us.bookshop.org/ingram/9781501181009.jpg?height=500&amp;v=v2-a1d7cc03af48883b3234be483797e131" alt=""></div>
                                    <span>Title</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="img-wrapper"><img src="https://images-us.bookshop.org/ingram/9781501181009.jpg?height=500&amp;v=v2-a1d7cc03af48883b3234be483797e131" alt=""></div>
                                    <span>Title</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="img-wrapper"><img src="https://images-us.bookshop.org/ingram/9781501181009.jpg?height=500&amp;v=v2-a1d7cc03af48883b3234be483797e131" alt=""></div>
                                    <span>Title</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="img-wrapper"><img src="https://images-us.bookshop.org/ingram/9781501181009.jpg?height=500&amp;v=v2-a1d7cc03af48883b3234be483797e131" alt=""></div>
                                    <span>Title</span>
                                </a>
                            </li>
                        </ul>
                        <button type="submit">Look for more results</button>
                    </div>
                    -->
                </form>
            </div>
            <div class="shopping-cart-wrapper">
                <div class="shopping-cart">
                    <span class="cart-count">99+</span>
                    <input checked type="checkbox" id="show-cart" class="toggle">
                    <label for="show-cart" class="show-cart fas fa-shopping-cart"></label>
                    <div class="content">
                        <div class="item-list">
                            <div class="list-row">
                                <div class="action-holder">
                                    <form action="Remove">
                                        <button type="submit" class="remove-btn far fa-times-circle"></button>
                                    </form>
                                </div>
                                <div class="img-wrapper">
                                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1686092541l/62919162._SY475_.jpg"
                                        alt="cover-image">
                                </div>
                                <div class="item-info">
                                    <h3>Book name</h3>
                                    <p>Quantity: 3</p>
                                    <span>33.99$</span>
                                </div>
                            </div>
                            <div class="list-row">
                                <div class="action-holder">
                                    <form action="Remove">
                                        <button type="submit" class="remove-btn far fa-times-circle"></button>
                                    </form>
                                </div>
                                <div class="img-wrapper">
                                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1686092541l/62919162._SY475_.jpg"
                                        alt="cover-image">
                                </div>
                                <div class="item-info">
                                    <h3>Book name</h3>
                                    <p>Quantity: 3</p>
                                    <span>33.99$</span>
                                </div>
                            </div>
                            <div class="list-row">
                                <div class="action-holder">
                                    <form action="Remove">
                                        <button type="submit" class="remove-btn far fa-times-circle"></button>
                                    </form>
                                </div>
                                <div class="img-wrapper">
                                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1686092541l/62919162._SY475_.jpg"
                                        alt="cover-image">
                                </div>
                                <div class="item-info">
                                    <h3>Book name</h3>
                                    <p>Quantity: 3</p>
                                    <span>33.99$</span>
                                </div>
                            </div>
                            <div class="list-row">
                                <div class="action-holder">
                                    <form action="Remove">
                                        <button type="submit" class="remove-btn far fa-times-circle"></button>
                                    </form>
                                </div>
                                <div class="img-wrapper">
                                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1686092541l/62919162._SY475_.jpg"
                                        alt="cover-image">
                                </div>
                                <div class="item-info">
                                    <h3>Book name</h3>
                                    <p>Quantity: 3</p>
                                    <span>33.99$</span>
                                </div>
                            </div>
                            <div class="list-row">
                                <div class="action-holder">
                                    <form action="Remove">
                                        <button type="submit" class="remove-btn far fa-times-circle"></button>
                                    </form>
                                </div>
                                <div class="img-wrapper">
                                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1686092541l/62919162._SY475_.jpg"
                                        alt="cover-image">
                                </div>
                                <div class="item-info">
                                    <h3>Book name</h3>
                                    <p>Quantity: 3</p>
                                    <span>33.99$</span>
                                </div>
                            </div>
                            <div class="list-row">
                                <div class="action-holder">
                                    <form action="Remove">
                                        <button type="submit" class="remove-btn far fa-times-circle"></button>
                                    </form>
                                </div>
                                <div class="img-wrapper">
                                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1686092541l/62919162._SY475_.jpg"
                                        alt="cover-image">
                                </div>
                                <div class="item-info">
                                    <h3>Book name</h3>
                                    <p>Quantity: 3</p>
                                    <span>33.99$</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-bar">
                            <span class="total">Total: 1000.57$</span>
                            <a href="#" class="checkout-btn"><i class="fas fa-money-check-alt"></i>Check out</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main role="main">
            <div class="bg-image-wrapper">
                <img src="../../wwwroot/images/Books.jpeg" alt="">
            </div>
            <section id="search-result">
                <form class="search-header" method="get">
                    <div class="dropdown-wrapper">
                        <button class="unfold-btn fas fa-angle-down">Genres</button>
                        <div class="dropdown-container">
                            <div class="dropdown-header">
                                <p>Genres</p>
                            </div>
                            <div class="dropdown-content">
                                <a href="/Administration/Manage/Books?Parameters=GenreId%3D0">
                                    <i class="fas fa-book"></i>
                                    All
                                </a>
                                <a href="/Administration/Manage/Books?Parameters=GenreId%3D1">
                                    <i class="fas fa-book"></i>
                                    Fiction
                                </a>
                                <a href="/Administration/Manage/Books?Parameters=GenreId%3D2">
                                    <i class="fas fa-book"></i>
                                    Mystery
                                </a>
                                <a href="/Administration/Manage/Books?Parameters=GenreId%3D3">
                                    <i class="fas fa-book"></i>
                                    Romance
                                </a>
                                <a href="/Administration/Manage/Books?Parameters=GenreId%3D4">
                                    <i class="fas fa-book"></i>
                                    Science Fiction
                                </a>
                                <a href="/Administration/Manage/Books?Parameters=GenreId%3D5">
                                    <i class="fas fa-book"></i>
                                    History
                                </a>
                                <a href="/Administration/Manage/Books?Parameters=GenreId%3D6">
                                    <i class="fas fa-book"></i>
                                    Fantasy
                                </a>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" data-val="true" data-val-required="The GenreId field is required." id="GenreId"
                        name="GenreId" value="0">

                    <section class="filter-bar">
                        <div class="select-input">
                            <label for="SortClause">Sort by:</label>
                            <select class="input-validation-error" data-val="true"
                                data-val-required="The SortClause field is required." id="SortClause" name="SortClause">
                                <option value="NameAsc" selected="selected">Alphabetical (A-Z)</option>
                                <option value="NameDesc">Alphabetical (Z-A)</option>
                                <option value="PriceAsc">Price (Low-High)</option>
                                <option value="PriceDesc">Price (High-Low)</option>
                            </select>
                        </div>
                        <div class="select-input">
                            <label for="ItemsOnPage">Books on page:</label>
                            <select data-val="true" data-val-required="The ItemsOnPage field is required."
                                id="ItemsOnPage" name="ItemsOnPage">
                                <option value="6" selected="selected">6</option>
                                <option value="12">12</option>
                                <option value="24">24</option>
                            </select>
                        </div>
                        <div>
                            <button class="fas fa-check" type="submit"></button>
                        </div>
                    </section>
                </form>
                <nav class="top">
                    <a href="#top" class="fas fa-arrow-up"></a>
                </nav>
                <div class="content">

                    <a id="19" class="item-card" href="/Home/Details?ItemId=19&amp;ReturnRoute=%2FHome%2FAll">
                        <div class="img-wrapper">
                            <img src="https://images-us.bookshop.org/ingram/9780451457998.jpg?height=500&amp;v=v2"
                                alt="cover-image">
                        </div>
                        <div class="content-wrapper">
                            <p class="title" title="2001: A Space Odyssey">2001: A Space Odyssey</p>
                            <div class="pricing">
                                <span>14.99</span>
                            </div>
                        </div>
                    </a>
                    <a id="2" class="item-card" href="/Home/Details?ItemId=2&amp;ReturnRoute=%2FHome%2FAll">
                        <div class="img-wrapper">
                            <img src="https://images-us.bookshop.org/ingram/9780195115932.jpg?height=500&amp;v=v2-800763754b3b545e876ade973b5a1cb4"
                                alt="cover-image">
                        </div>
                        <div class="content-wrapper">
                            <p class="title" title="Blood Thirst: 100 Years of Vampire Fiction">Blood Thirst: 100 Years
                                of Vampire Fiction</p>
                            <div class="pricing">
                                <span>21.00</span>
                                <span class="promotion">41.99</span>
                            </div>
                        </div>
                    </a>
                    <a id="21" class="item-card" href="/Home/Details?ItemId=21&amp;ReturnRoute=%2FHome%2FAll">
                        <div class="img-wrapper">
                            <img src="https://images-us.bookshop.org/ingram/9780345347954.jpg?height=500&amp;v=v2-a7c1aa103cfc927e19232d71d64c37ff"
                                alt="cover-image">
                        </div>
                        <div class="content-wrapper">
                            <p class="title" title="Childhood's End">Childhood's End</p>
                            <div class="pricing">
                                <span>12.99</span>
                            </div>
                        </div>
                    </a>
                    <a id="7" class="item-card" href="/Home/Details?ItemId=7&amp;ReturnRoute=%2FHome%2FAll">
                        <div class="img-wrapper">
                            <img src="https://images-us.bookshop.org/ingram/9780062857569.jpg?height=500&amp;v=v2"
                                alt="cover-image">
                        </div>
                        <div class="content-wrapper">
                            <p class="title" title="Death on the Nile">Death on the Nile</p>
                            <div class="pricing">
                                <span>13.99</span>
                            </div>
                        </div>
                    </a>
                    <a id="3" class="item-card" href="/Home/Details?ItemId=3&amp;ReturnRoute=%2FHome%2FAll">
                        <div class="img-wrapper">
                            <img src="https://images-us.bookshop.org/ingram/9781982102326.jpg?height=500&amp;v=v2"
                                alt="cover-image">
                        </div>
                        <div class="content-wrapper">
                            <p class="title" title="Elevation">Elevation</p>
                            <div class="pricing">
                                <span>5.00</span>
                                <span class="promotion">9.99</span>
                            </div>
                        </div>
                    </a>
                    <a id="11" class="item-card" href="/Home/Details?ItemId=11&amp;ReturnRoute=%2FHome%2FAll">
                        <div class="img-wrapper">
                            <img src="https://images-us.bookshop.org/ingram/9780062073938.jpg?height=500&amp;v=v2"
                                alt="cover-image">
                        </div>
                        <div class="content-wrapper">
                            <p class="title" title="Evil Under the Sun">Evil Under the Sun</p>
                            <div class="pricing">
                                <span>12.99</span>
                            </div>
                        </div>
                    </a>


                </div>
                <div class="search-header">
                    <section class="page-bar">
                        <ul>
                            <li><a disabled="true" aria-disabled="True" href="#" class="fas fa-angle-double-left"></a>
                            </li>
                            <li><a disabled="true" aria-disabled="True" href="#" class="fas fa-angle-left"></a></li>


                            <li><a disabled="true" aria-disabled="True" class="selected" href="#">1</a></li>

                            <li><a
                                    href="/Home/All?GenreId=0&amp;ItemsOnPage=6&amp;SortClause=NameAsc&amp;CurrentPage=2">2</a>
                            </li>
                            <li><a
                                    href="/Home/All?GenreId=0&amp;ItemsOnPage=6&amp;SortClause=NameAsc&amp;CurrentPage=3">3</a>
                            </li>

                            <li><a href="/Home/All?GenreId=0&amp;ItemsOnPage=6&amp;SortClause=NameAsc&amp;CurrentPage=2"
                                    class="fas fa-angle-right"></a></li>
                            <li><a href="/Home/All?GenreId=0&amp;ItemsOnPage=6&amp;SortClause=NameAsc&amp;CurrentPage=7"
                                    class="fas fa-angle-double-right"></a></li>
                        </ul>
                    </section>
                </div>
            </section>
        </main>

        <footer class="main-footer">
            <div class="container">
                <div>
                    &copy; 2023 - WebShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
        </footer>
    </section>

    <script src="../../wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../wwwroot/js/site.js" asp-append-version="true"></script>
</body>

</html>