<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShop</title>
    <link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../wwwroot/css/site.css" asp-append-version="true" />
</head>

<body>
    <aside class="aside-wrapper">
        <input type="checkbox" class="aside-toggle" id="aside-toggle">
        <label class="aside-toggle-btn" for="aside-toggle">
            <img src="./../../wwwroot/images/book.png" class="logo-icon"></img>
        </label>
        <div class="side-menu">
            <div class="site-name">
                <a class="title logo" asp-area="" asp-controller="Home" asp-action="Index">Book Shop</a>
            </div>
            <ul class="gap-2">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>

                <li class="selected">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="foldable">Home</span>
                    </a>
                </li>
            </ul>
            <ul class="gap-2 bottom-list">
                <li>
                    <a asp-area="Identity" asp-controller="Account" asp-action="Register">
                        <i class="fas fa-file-signature"></i>
                        <span class="foldable">Register</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-controller="Account" asp-action="Login">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="foldable">Log In</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <section class="main-content">
        <header id="top" class="main-header">
            <div class="search-bar">
                <form class="search-bar-wrapper">
                    <input type="text" name="" id="" placeholder="Search...">
                    <button class="fas fa-search"></button>
                </form>
            </div>
            <div class="shopping-cart-wrapper">
                <div class="shopping-cart">
                    <button class="fas fa-shopping-cart"></button>
                </div>
            </div>
        </header>

        <main role="main" class="pb-3">
            <div class="bg-image-wrapper">
                <img src="../../wwwroot/images/Books.jpeg" alt="">
            </div>
            <section id="search-result">
                <form class="search-header">
                    <section class="page-bar">
                        <ul>
                            <li><a aria-disabled="true" class="fas fa-angle-double-left" href="#"></a></li>
                            <li><a class="fas fa-angle-left" href="#"></a></li>
                            <li><a class="" href="#">1</a></li>
                            <li><a class="" href="#">2</a></li>
                            <li><a class="selected" href="#">3</a></li>
                            <li><a class="" href="#">4</a></li>
                            <li><a class="" href="#">5</a></li>
                            <li><a class="fas fa-angle-right" href="#"></a></li>
                            <li><a class="fas fa-angle-double-right" href="#"></a></li>
                        </ul>
                    </section>
                    <section class="filter-bar">
                        <div class="select-input">
                            <label for="sort">Sort by:</label>
                            <select name="" id="sort">
                                <option value="">Alphabetical (A-Z)</option>
                                <option value="">Alphabetical (Z-A)</option>
                                <option value="">Price (Low-High)</option>
                                <option value="">Price (High-Low)</option>
                            </select>
                        </div>
                        <div class="select-input">
                            <label for="items-on-page">Books on page:</label>
                            <select name="" id="items-on-page">
                                <option value="">6</option>
                                <option value="">12</option>
                                <option value="">24</option>
                            </select>
                        </div>
                        <div>
                            <button class="fas fa-check" type="submit"></button>
                        </div>
                    </section>
                </form>
                <nav class="top">
                    <a href="#top" class="fas fa-arrow-up"></a>
                </nav>
                <div class="content">
                    <p class="search-error">Nothing found</p>
                </div>
            </section>
        </main>

        <footer class="main-footer">
            <div class="container">
                <div>
                    &copy; 2023 - WebShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
        </footer>
    </section>

    <script src="../../wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="../../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../wwwroot/js/site.js" asp-append-version="true"></script>
</body>

</html>