@model Catalogue;

@{
    ViewBag.Title = $"Catalogue - Page {Model.CurrentPage}";
    ViewBag.SearchTerm = Model.SearchTerm;
}

<section id="search-result">
    <form class="search-header" method="get">
        <input type="hidden" asp-for="GenreId"/>
        @{
            var data = new Dictionary<string, object>()
            {
                { nameof(Model.GenreId), Model.GenreId },
                { nameof(Model.ItemsOnPage), Model.ItemsOnPage },
                { nameof(Model.SortClause), Model.SortClause },
                { nameof(Model.SearchTerm), Model.SearchTerm }
            };
        }
        @await Html.PartialAsync("Components/_PageBarPartial", new PageBarModel(Model.CurrentPage, Model.MaxPages, data, "All", "Home"))
        <section class="filter-bar">
            <div class="select-input">
                <label asp-for="SortClause">Sort by:</label>
                <select asp-for="SortClause">
                    <option value="NameAsc">Alphabetical (A-Z)</option>
                    <option value="NameDesc">Alphabetical (Z-A)</option>
                    <option value="PriceAsc">Price (Low-High)</option>
                    <option value="PriceDesc">Price (High-Low)</option>
                </select>
            </div>
            <div class="select-input">
                <label asp-for="ItemsOnPage">Books on page:</label>
                <select asp-for="ItemsOnPage">
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                </select>
            </div>
            <div>
                <button class="fas fa-check" type="submit"></button>
            </div>
        </section>
    </form>
    <nav class="top">
        <a href="#top" class="fas fa-arrow-up"></a>
    </nav>
    <div class="content">
        @if (Model.Items.Count > 0)
        {
            @await Html.PartialAsync("Components/_ItemCardPartial", Model.Items);
        }
        else
        {
            <p class="search-error">Nothing found</p>
        }
    </div>
</section>