@model List<GenreCategoryIcon>

@{
    foreach (var icon in Model)
    {
        <a href="@Url.Action("All", "Home", new{ GenreId = icon.Id })">
            <div class="img-wrapper">
                <img src="@icon.IconLink" alt="">
            </div>
            <div class="title">
                <p>@icon.Name</p>
            </div>
        </a>
    }
}
