@{
    ViewData["Title"] = "Checkout";
}
@model Cart

<section id="checkout">
    <h2 class="title">Checkout</h2>
    <div class="order-list">
        @await Html.PartialAsync("Components/_CheckoutItemPartial", Model.Items)
    </div>
    <div class="overall-info">
        <p>Total: @Model.TotalPrice$</p>
    </div>
    <div class="action-list">
        <a asp-controller="Home" asp-action="Index" class="generic-action fas fa-home">Home</a>
        <a asp-controller="Cart" asp-action="Clear" class="cancel fas fa-trash">Clear cart</a>
        <a href="#" class="confirm fas fa-angle-double-right">Proceed to payment</a>
    </div>
</section>
