@{
    ViewData["Title"] = "Place an order";
}
@model OrderModel;

<section id="order" class="small-window-field">
    <div class="title-holder">
        <h1 class="title">Order placement</h1>
    </div>
    <form asp-controller="Cart" asp-action="Order" method="post" class="form-list">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-field">
            <input type="text" asp-for="Country" placeholder="">
            <label asp-for="Country"></label>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-field">
            <input type="text" asp-for="City" placeholder="">
            <label asp-for="City"></label>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-field">
            <input type="text" asp-for="Address" placeholder="">
            <label asp-for="Address"></label>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="pricing">
            @{
                var price = $"{Model.TotalPrice:f2}";
                <p>Total: @price$</p>
            }
        </div>
        <div class="centered action-list">
            <a asp-controller="Cart" asp-action="Checkout" class="cancel"><i class="fas fa-caret-left"></i> Go Back</a>
            <button type="submit" class="btn-confirm"><i class="fas fa-check"></i> Place Order</button>
        </div>
    </form>
</section>