@{
    ViewData["Title"] = "Book management";
}
@model BookManageModel;

<section id="administration">
    <div class="tool-bar">
        @await Html.PartialAsync("Components/_HeaderNavigationPartial", new List<HeaderNavigation>()
        {
            new("Manage Books"),
            new("Manage Promotions", "Promotions"),
            new("Manage Users", "Users")
        })
        @await Html.PartialAsync("Components/_SearchBarPartial", new SearchBar("Books"))
        <div class="filter-sections">
            @await Html.PartialAsync("Components/_DropdownPartial", new DropdownModel()
            {
                Heading = "Authors",
                UnfoldButtonContent = "Authors",
                UnfoldButtonClasses = "fas fa-angle-down",
                ElementList = Model.GetAuthors()
            })

            @await Html.PartialAsync("Components/_DropdownPartial", new DropdownModel()
            {
                Heading = "Genres",
                UnfoldButtonContent = "Genres",
                UnfoldButtonClasses = "fas fa-angle-down",
                ElementList = Model.GetGenres()
            })
        </div>
    </div>
    <div class="item-list">
        <table>
            <thead>
                <tr>
                    <th>Cover Photo</th>
                    <th>Title</th>
                    <th>Base Price</th>
                    <th>Current Price</th>
                    <th>Stock Quantity</th>
                    <th><span class="foldable">Action</span></th>
                </tr>
            </thead>
            <tbody>
                @await Html.PartialAsync("Components/BookListItem", Model.Books)
            </tbody>
        </table>
        <div class="action-bar">
            <a href="#" class="fas fa-plus">Add new Book</a>
        </div>
    </div>
</section>