@{
    ViewData["Title"] = "Promotions";
}

<section id="administration">
    <div class="tool-bar">
        @await Html.PartialAsync("Components/_HeaderNavigationPartial", new List<HeaderNavigation>()
        {
            new("Manage Books"),
            new("Manage Promotions", "Promotions"),
            new("Manage Users", "Users")
        })
        @await Html.PartialAsync("Components/_SearchBarPartial", new SearchBar("Promotions", ""))
        @*<div class="filter-sections">
            @await Html.PartialAsync("Components/_DropdownPartial", new DropdownModel()
            {
                Heading = "Authors",
                UnfoldButtonContent = "Authors",
                UnfoldButtonClasses = "fas fa-angle-down",
                ElementList = Model.GetAuthors()
            })

            @await Html.PartialAsync("Components/_DropdownPartial", new DropdownModel()
            {
                Heading = "Genres",
                UnfoldButtonContent = "Genres",
                UnfoldButtonClasses = "fas fa-angle-down",
                ElementList = Model.GetGenres()
            })
        </div>*@
    </div>
    <div class="item-list">

    </div>
</section>