@{
    ViewData["Title"] = "Edit book info";
}

<section id="edit">
    <div class="img-wrapper">
        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1598823299l/42844155._SY475_.jpg"
             alt="book-cover">
    </div>
    <form action="" class="form-list">
        <div class="form-field">
            <input type="text" name="" id="title" placeholder="">
            <label for="title">Title</label>
        </div>
        <div class="form-field">
            <textarea type="text" name="" id="description" placeholder=""></textarea>
            <label for="description">Description</label>
        </div>
        <div class="form-field">
            <input type="text" name="" id="base-price" placeholder="">
            <label for="base-price">Base Price</label>
        </div>
        <div class="form-field">
            <input type="text" name="" id="cover" placeholder="">
            <label for="cover">Cover Photo</label>
        </div>
        <div class="select-wrapper">
            <button type="button" class="fas fa-angle-down unfold-btn"></button>
            <ul class="list-items">
                <li>
                    <a href="#" class="fas fa-edit"></a>
                    <input type="radio" name="author" id="Author1" value="action">
                    <label for="Author1">Author1</label>
                </li>
                <li>
                    <a href="#" class="fas fa-edit"></a>
                    <input checked type="radio" name="author" id="Author2">
                    <label for="Author2">Author2</label>
                </li>
                <li>
                    <a href="#" class="fas fa-edit"></a>
                    <input type="radio" name="author" id="Author3">
                    <label for="Author3">Author3</label>
                </li>
                <li>
                    <a href="#" class="fas fa-edit"></a>
                    <input type="radio" name="author" id="Author4">
                    <label for="Author4">Author4</label>
                </li>
                <li>
                    <a href="#" class="fas fa-edit"></a>
                    <input type="radio" name="author" id="Author5">
                    <label for="Author5">Author5</label>
                </li>
                <li class="additional">
                    <a href="#" class="fas fa-plus">New</a>
                </li>
            </ul>
        </div>
        <div class="select-wrapper">
            <button type="button" class="fas fa-angle-down unfold-btn"></button>
            <ul class="list-items">
                <li>
                    <a href="#" class="fas fa-edit"></a>
                    <input type="radio" name="genre" checked id="Action" value="action">
                    <label for="Action">Action</label>
                </li>
                <li>
                    <a href="#" class="fas fa-edit"></a>
                    <input type="radio" name="genre" id="Fiction">
                    <label for="Fiction">Fiction</label>
                </li>
                <li>
                    <a href="#" class="fas fa-edit"></a>
                    <input type="radio" name="genre" id="Mystery">
                    <label for="Mystery">Mystery</label>
                </li>
                <li>
                    <a href="#" class="fas fa-edit"></a>
                    <input type="radio" name="genre" id="History">
                    <label for="History">History</label>
                </li>
                <li>
                    <a href="#" class="fas fa-edit"></a>
                    <input type="radio" name="genre" id="Science-Fiction">
                    <label for="Science-Fiction">Science-Fiction</label>
                </li>
                <li class="additional">
                    <a href="#" class="fas fa-plus">New</a>
                </li>
            </ul>
        </div>
        <div class="action-bar">
            <a href="#" class="cancel">Cancel</a>
            <button class="confirm">Submit</button>
        </div>
    </form>
</section>